<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Model_Downsizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Model_Downsizer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Model_Downsizer.Properties.Settings>
            <setting name="defaultModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="settingsLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultDestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultTasksTable" serializeAs="String">
                <value />
            </setting>
            <setting name="preset1ModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset1Settings" serializeAs="String">
                <value />
            </setting>
            <setting name="preset1DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset2ModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset2Settings" serializeAs="String">
                <value />
            </setting>
            <setting name="preset2DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset3ModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset3DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset3Settings" serializeAs="String">
                <value />
            </setting>
            <setting name="preset4ModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset4DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset4Settings" serializeAs="String">
                <value />
            </setting>
            <setting name="preset5ModelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="preset5Settings" serializeAs="String">
                <value />
            </setting>
            <setting name="preset5DestinationFolder" serializeAs="String">
                <value />
            </setting>
        </Model_Downsizer.Properties.Settings>
        <Model_Downsizer.Settings1>
            <setting name="modelFolderSelection" serializeAs="String">
                <value/>
            </setting>
        </Model_Downsizer.Settings1>
    </userSettings>
</configuration>
